.header{
    background-color: #FFFF;
    height: 15vh;
}

.container-header-top{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #E4E4E4;
    height: 10vh;
}

.container-search-user{
    display: flex;
    align-items: center;
    gap: 20px;
}

.container-data-user{
    display: flex;
    align-items: center;
    gap: 10px;
}

.container-header-bottom{
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}

.container-table-users{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}